<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="codigo" class="col-md-2 control-label">Código</label>
		<div class="col-md-2">
			<input type="text" class="form-control" id="codigo" 
				ng-model="entidade.Cod_disciplina" disabled>
		</div>
	</div>
	<div class="form-group">
		<label for="nome" class="col-md-2 control-label">Nome</label>
		<div class="col-md-6">
			<input type="text" class="form-control" id="nome" 
				ng-model="entidade.Nome_disciplina">
		</div>
	</div>
	<div class="form-group">
	    <div class="col-md-offset-2 col-md-10">
	    	<button type="button" class="btn btn-primary" ng-click="salvar()">
	    		Salvar
	    	</button>
	    	<button type="button" class="btn btn-danger" 
	    			ng-click="excluir()" ng-show="original_id">
	    		Excluir
	    	</button>
	    </div>
	</div>
	<h4><span class="label label-danger col-md-offset-2">{{erro}}</span></h4>
</form>