<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="codigo" class="col-md-3 control-label">Código</label>
		<div class="col-md-2">
			<input type="text" class="form-control" id="codigo" 
				ng-model="entidade.Cod_prova">
		</div>
	</div>
	<div class="form-group">
		<label for="cargos" class="col-md-3 control-label">
			Cargos
		</label>
		<div class="col-md-6">
			<select multiple class="form-control" id="cargos" 
				ng-model="entidade.cargos"
				ng-options="c.Nome_cargo for c in cargos track by c.Cod_cargo">
			</select>
		</div>
	</div>
	<div class="form-group">
	    <div class="col-md-offset-3 col-md-9">
	    	<button type="button" class="btn btn-primary" ng-click="salvar()">
	    		Salvar
	    	</button>
	    	<button type="button" class="btn btn-danger" 
	    			ng-click="excluir()" ng-show="original_id">
	    		Excluir
	    	</button>
	    </div>
	</div>
	<h4><span class="label label-danger col-md-offset-3">{{erro}}</span></h4>
</form>